{% extends 'basetemplate.html' %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}    
    <a href="{% url 'blog:home' %}">Home</a>    
    <h1>{{ post.title }}</h1>
    <p>        
        {% if perms.blog.change_blogpost %}        
            <a href="{% url 'blog:post-change' post.id %}"><button>Edit</button></a>        
        {% endif %}
        {% if perms.blog.delete_blogpost %}        
            <a href="{% url 'blog:post-delete' post.id %}"><button>Delete</button></a>        
        {% endif %}    
    </p>
    {% if post.is_published %}        
        <p>Ce modele a ete publie en date du : <em>{{ post.pub_date }}</em></p> 
    {% elif perms.blog.publish_blogpost %}        
        <form action="{% url 'blog:post-publish' post.id %}" method="post">            
            {% csrf_token %}            
            <input type="submit" value="Deja publie">        
        </form>    
    {% endif %}

    {% if post.image %}    
        <img style="width:400px" src="{{ post.image.url }}" >   
    {% endif %}
    <p>{{ post.content }}</p>    
    <p><em>{{ post.num_views }} total de vues </em></p>
{% endblock %}
