{% extends 'basetemplate.html' %}
{% block 'title' %}{{ post.title }}{% endblock %}
{% block 'content' %}    
    <a href="{% url 'blog:home' %}">Home</a>    
    <h1>{{ post.title }}</h1>
        <p>        
            {% if perms.blog.change_blogpost %}        
            <a href="{% url 'blog:post-change' post.id %}"><button>Edit</button></a>        
            {% endif %}
            {% if perms.blog.delete_blogpost %}        
            <a href="{% url 'blog:post-delete' post.id %}"><button>Delete</button></a>        
            {% endif %}    
        </p>
        {% if post.is_published %}        
            <p>Published: <em>{{ post.pub_date }}</em></p>    
        {% elif perms.blog.publish_blogpost %}        
            <form action="{% url 'blog:post-publish' post.id %}" method="post">            
                {% csrf_token %}            
            <input type="submit" value="Publish">        
            </form>    
        {% endif %}
        <p>{{ post.content }}</p>    
        <p><em>{{ post.num_views }} views</em></p> 
{% endblock %}