{% extends 'basetemplate.html' %}
{% load static %}
{% block 'title' %}{{ post.title }}{% endblock %}

{% block 'content' %}    
    <a href="{% url 'blog:home' %}">Retourner a la page precedente</a>
    

    <h1>{{ post.title }}</h1>
    {% if post.image %}    
        <img style="width:400px" src="{{ post.image.url }}" >   
    {% endif %}

    <p>Ce modele a ete publie en date du :<em>{{ post.pub_date }}</em></p>

    <p>Tout savoir sur le modele "{{ post.title }}"" :</p>
    <p>------------------------------------------------------------------</p>
    <p>{{ post.explain }}</p>
    <p>------------------------------------------------------------------</p> 
{% endblock %}
