{% extends 'basetemplate.html' %} 
{% load static %}
{% block 'title' %}{% endblock %}

{% block 'content' %}    
    <a href="{% url 'blog:cout-home' %}">Retourner a la page precedente</a>
    

    <h1>{{ couturier.nom_complet }}</h1>
    {% if couturier.photo %}    
        <img style="width:400px" src="{{ couturier.photo.url }}" >   
    {% endif %}
    <p>Informations le(la) couturier(e) :</p>

    <p>------------------------------------------------------------------</p>
    <p>
        <li>Il(elle) est plus connu(e) sous le nom de {{ couturier.nom_populaire }}</li>
        <li>Contact : Telephone {{ couturier.contact }} et Email : {{ couturier.email }}</li>
        <li>Proprietaire et responsable de l'atelier :{{ couturier.nom_atelier }}</li>
        <li>Adresse atelier :{{ couturier.adresse_atelier }}</p></li>
        
        
    <p>------------------------------------------------------------------</p> 
{% endblock %}