{% extends 'basetemplate.html' %}
{% load static %}

{% block 'title' %}
    {{ post.nom_complet }} - {{ post.nom_atelier }}
{% endblock %}

{% block 'content' %}
    <h1>{{ post.nom_complet }}</h1>
    <p><strong>Popular Name:</strong> {{ post.nom_populaire }}</p>
    <p><strong>Contact:</strong> {{ post.contact }}</p>
    <p><strong>Email:</strong> {{ post.email }}</p>
    <p><strong>Atelier:</strong> {{ post.nom_atelier }}</p>
    <p><strong>Address:</strong> {{ post.adresse_atelier }}</p>
    {% if post.photo %}
        <img src="{{ post.photo.url }}" style="width: 200px; height: 200px;">
    {% endif %}

    <h2>Works:</h2>
    <img src="{% static 'pages/img/LOGO.jpg' %}" height="300" width="300">
    <img src="{% static 'pages/img/images.jpg' %}" height="300" width="300">
    <img src="{% static 'pages/img/ilk.jpg' %}" height="300" width="300">
    <img src="{% static 'pages/img/ik.jpg' %}" height="300" width="300">
{% endblock %}
