{% extends 'basetemplate.html' %} 
{% load static %}
{% block title %}{% endblock %}
{% block content %}    
    <a href="{% url 'blog:cout_home' %}">Home</a>    
    <h1>{{ post.nom_complet }}</h1>
    <p>        
        {% if perms.blog.cout_change %}        
            <a href="{% url 'blog:cout_change' post.id %}"><button>Edit</button></a>        
        {% endif %}
        {% if perms.blog.cout_delete %}        
            <a href="{% url 'blog:cout_delete' post.id %}"><button>Delete</button></a>        
        {% endif %}    
    </p>
    {% if post.photo %}    
        <img style="width:400px" src="{{ post.photo.url }}" >   
    {% endif %}
    <p>{{ post.content }}</p>    
{% endblock %}
