{% extends 'basetemplate.html' %} 
{% load static %}
{% block 'title' %}Delete couturier : {{ post.nom_complet }}{% endblock %}
{% block 'content' %}    
<a href="{% url 'blog:cout_home' %}">Home</a>
    <h1>Delete Post: {{ post.nom complet }}</h1>
    <form action="{% url 'blog:post-delete' post.id %}" method="post">        
        {% csrf_token %}
        <p>Are you sure you want to delete this post?</p>        
        <input type="submit" value="Yes">        
        <a href="{{ post.get_absolute_url }}">            
            <input type="button" value="Cancel">
        </a>
    </form>       
{% endblock %}