{% extends 'basetemplate.html' %} 
{% load static %}
{% block 'content' %} 
    <h1>Tout savoir sur nous </h1>
    <p>
        Nous sommes une entreprise locale specilise dqns le domaine de la couture
        .Nous vous proposons certains services entre autres :


    </p>
    <div>
        <h2></h2>
        <img src="{% static 'pages/img/LOGO.jpg' %}">
    </div>  
    <nav>
        <ul>
            <li>
                <a href="/">home</a>
            </li>
        </ul>
        
    </nav>
{% endblock %}