{% extends 'basetemplate.html' %} 
{% load static %}
{% block 'content' %} 
    <h1>BOUTIQUE</h1>
    

    <div>
        <h2>SUR-CHEMISIERS</h2>
        <img src="{% static 'pages/img/ef.jpg' %} " height="200" width="200">
        <img src="{% static 'pages/img/er.jpg' %}" height="200" width="200">
        <img src="{% static 'pages/img/fc.jpg' %}" height="200" width="200">
        <img src="{% static 'pages/img/fes.jpg' %}" height="200" width="200">
        <img src="{% static 'pages/img/rfx.jpg' %}" height="200" width="200">
        <img src="{% static 'pages/img/ze.jpg' %}" height="200" width="200">
    </div>  

    <div>
        <h2>TOTES BAGS</h2>
        <img src="{% static 'pages/img/tre.jpg' %}" height="200" width="200">
        <img src="{% static 'pages/img/ghk.jpg' %} " height="200" width="200">
        <img src="{% static 'pages/img/hje.jpg' %} " height="200" width="200">
        <img src="{% static 'pages/img/kil.jpg' %} " height="200" width="200">
        <img src="{% static 'pages/img/ujz.jpg' %} " height="200" width="200">
    </div>  

    <div>
        <h2>BUBU DRESSES</h2>
        <img src="{% static 'pages/img/ujzc.jpg' %}" height="300" width="200">
        <img src="{% static 'pages/img/yhs.jpg' %} " height="300" width="200">
    </div>  
    <nav>
        <ul>
            <li>
                <a href="/">home</a>
            </li>
        </ul>
        
    </nav>







{% endblock %}
