{% extends 'basetemplate.html' %} 
{% load static %}
{% block 'content' %} 
<header>
    <nav>
        <h1>WEARKAL</h1> 
        <ul>
            <li> <a href="/apropos/">Tout savoir sur nous </a></li>
            <li> <a href="/contact/">Contactez nous </a></li>
            <li> <a href="/boutique/">Voir la boutique </a></li>
            <li> <a href="/blog/">Modeles cousu localement</a></li>
            <li> <a href="/blog/couturier/">Couturiers et couturieres de la ville de Beni</a></li>
            <li> <a href="/blog/atelier/">Les ateliers disponibles en ville de Beni</a></li>
            <li> <a href="/voirmodel/">Voir autres modeles </a></li>
            <a href="{% url 'login' %}">    
                <button>Login</button> 
            </a>
        </ul>

    </nav>
    
</header>
<div style="padding-left: 15%;">
    <img src="{% static 'pages/img/dsf.jpg' %}" height="350" width="350">
    <img src="{% static 'pages/img/trr.avif' %}" height="500" width="500">
    <img src="{% static 'pages/img/ytr.jpg' %}" height="350" width="350" > 
</div>



<div> 
    {% if user.is_authenticated %}    
    <h2>Welcome {{ user.first_name }}!</h2> 
    {% else %}    
    <h2> Welcome Guest!</h2> 
    {% endif %}
    <p>    
        {% if user.is_authenticated %}        
        <a href="{% url 'accounts:profile' %}"><button>Voir son compte</button></a>           
        {% endif %}    
    </p>
    <ul>        
        {% for post in blog_posts %}        
        <a href="{{ post.get_absolute_url }}">            
            <li>{{ post.title }} (<em>{{ post.pub_date }}</em>)</li>        
        </a>        
        {% endfor %}    
    </ul> 

    
</div>  
        
   

            
{% endblock %}