{% extends 'basetemplate.html' %} 
{% load static %}
{% block 'content' %} 
<header>
    <nav>
        <h1>WEARKAL</h1> 
        <ul>
            <li> <a href="/apropos/">Tout savoir sur nous </a></li>
            <li> <a href="/contact/">Contactez nous </a></li>
            <li> <a href="/boutique/">Voir la boutique </a></li>
            <li> <a href="/voirmodel/">Voir nos modeles </a></li>
        </ul>

    </nav>
</header>
<div>
    <p class="introduction">
        <H2>FASHION AS UNIQUE AS YOU ARE </H2>
        Bienvenue dans notre univers de la couture, où chaque fil et 
        chaque point racontent une histoire unique. Chez WEARKAL
        , nous fusionnons l'art intemporel de la couture avec l'innovation 
        contemporaine pour créer des pièces qui incarnent l'élégance, le 
        raffinement et la créativité. Que vous soyez passionné par la mode
         ou à la recherche de vêtements sur mesure, notre équipe de couturiers
          talentueux est déterminée à donner vie à vos rêves les plus exquis.
           Plongez dans notre monde de tissus somptueux, de designs exquis
         et de savoir-faire exceptionnel, et laissez-nous vous emmener dans un 
         voyage unique au cœur de la couture.
    </p> 
    <p class="logo">
        <img src="{% static 'pages/img/LOGO.jpg' %}" height="100" width="100">
    </p>  
</div>  
   
<div class="footer">
    <img src="{% static 'pages/img/images.jpg' %}" height="200" width="200" >
    <img src="{% static 'pages/img/ilk.jpg' %}" height="200" width="200" >
    <img src="{% static 'pages/img/ik.jpg' %}" height="200" width="200" >

</div>
            
 

{% endblock %}