{% extends 'basetemplate.html' %} 
{% load static %}
{% block 'content' %} 
    <h1>NOS MODELES</h1>
    <p>
        Explorez l'art du patronage et de la couture avec WEARKAL,
        votre destination en ligne pour des cours de couture et 
        des modèles uniques. Découvrez nos cours en ligne sur le
         patronage et parcourez notre collection de patrons pour
          créer des pièces sur mesure empreintes d'élégance et 
          d'originalité. Laissez-vous guider dans votre voyage créatif
           par notre expertise et nos ressources de qualité.



    </p>
    <div>
        <img src="{% static 'pages/img/R1.jpg' %} " height="300" width="200">   
    </div>   
    <div>
        <img src="{% static 'pages/img/R2.jpg' %}" height="200" width="200">
    </div>
    <div>
        <img src="{% static 'pages/img/R3.jpg' %}" height="200" width="200">
    </div> 
    <div>
        <img src="{% static 'pages/img/R4.jpg' %}" height="200" width="200">
    </div> 
    <div>
        <img src="{% static 'pages/img/R5.jpg' %}" height="200" width="200">
    </div>
    <div>
        <img src="{% static 'pages/img/R6.jpg' %}" height="200" width="200">
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">home</a>
            </li>
        </ul>
        
    </nav>


{% endblock %}
